@tailwind base;
@tailwind components;
@tailwind utilities;


/* @/components/Navbar.tsx */
.navbar-nav .nav-item:hover {
  background-color: white;
  border-radius: 8px;
}


.navbar-nav .nav-item:hover a {
  color: #0096ff;
}


.navbar-nav .nav-item a {
  color: white;
}