/* App.css */
html,
body {
    height: 100%;
    margin: 0;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-grow {
    flex-grow: 1;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.min-h-screen {
    min-height: 100vh;
}